.social{
  float: bottom left;
}
.social img{
  height: 50px;
  width: 50px;
}
header{
  margin-top: 10px;
  margin-bottom: 30px;
}
#post{
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.post1{
  margin-top: 10px;
}
.img-post img{
  width: 250px;
  height: 150px;

}
.titulo-post{
  font-size: 18px;
  margin-left: 5px;
}
.post1 p{
  margin-left: 5px;
}
#image2{
  margin-left: 10px;
}
#search{
  margin-top: 5px;
  margin-bottom: 5px;
}
